<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% if page.title != "" %}<title>{{ page.title }}</title>{% endif %}

<link rel="stylesheet" type="text/css" href="/assets/main.css" />
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<link rel="stylesheet" type="text/css" href="/css/glightbox.css" />

<script src="/js/glightbox.js"></script>

<link rel="me" href="https://bulltown.joejenett.com">
<link rel="me" href="https://joejenett.com/">
<link rel="me" href="https://joejenett.com">
<link rel="me" href="https://simply.joejenett.com">
<link rel="me" href="https://the.dailywebthing.com">
<link rel="me" href="https://pointers.dailywebthing.com">
<link rel="me" href="https://linkscatter.joejenett.com/">
<link rel="me" href="https://photo.joejenett.com/">
<link rel="me" href="https://wiki.joejenett.com/">
<link rel="me" href="https://joe.joejenett.com/">
<link rel="me" href="https://iwebthings.joejenett.com/">
<link rel="me" href="https://github.com/joejenett">
<link rel="me" href="https://twitter.com/joejenett">
<link rel="me" href="https://twitter.com/iwebthings">
<link rel="me" href="https://directory.joejenett.com/">
<link rel="me" href="https://micro.blog/joejenett">
<link rel="me" href="https://toot.community/@jenett">
<link rel="me" href="https://mastodon.online/@jenett">

<link rel="me" href="mailto:joe.jenett@jenett.org">








</head>
